.clock {
    border-radius: 1rem;
    padding: 0 0.5rem;
    // margin: 0 0.25rem;
    transition: 0.3s;
    font-size: 1.5rem;
}

.big_clock_box {
    // @include window;
    margin-top: 10rem;
    border-radius: 2rem;

}

.big_clock_label {
    font-size: 6rem;
    text-shadow: 2px 2px 20px black;
    opacity: .6;
}

.big_date_box {
    margin-top: -1.8rem;
    border-radius: 2rem;

}

.big_date_label {
    font-size: 2rem;
    text-shadow: 2px 2px 20px black;
    opacity: .5;
}
